
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
  color: #333;
}

  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
  }
  
  #artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    /* font-size: 0.8rem; */
    color: #666;
  }

  #title {
    
  }