header {
    padding: 1rem;
}

.pageContent {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: '100vh'
}

footer {
  position: fixed;
  bottom: 0;
}