header {
    padding: 1rem;
}

.page-content {

  display: flex;
  min-height: 60vh;
  justify-content: center;
}

footer {
  margin-top: auto;
}

@media (min-width: 1000px) {
  .content {
    width: 60%;
  }
}