:root {

  font-family: Europa;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Europa';
  src: url('./fonts/CabinetGrotesk-Regular.woff2') format('woff2'), /* Change the path accordingly */
}

body {
  margin: 0;
  padding: 0;
}

p {
  color: #a1a1a1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #1a1a1a;
  }

  button {
    background-color: #f9f9f9;
  }
}
